.Main {
    padding-bottom: 200px;
}

.Main .first-section {
    background-color: #FFF;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 150px;
}

.Main .first-section .img-first-section {
    width: 400px;
}

.Main .first-section .img-first-section img {
    width: 100%;
}

.Main .first-section .title-first-section {
    margin-top: 2rem;
    text-align: center;
}

.Main .first-section .title-first-section h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #333333;
}

.Main .first-section .title-first-section h1 span {
    color: #1b1b1b;
}

.Main .first-section .title-first-section h4 {
    font-weight: 600;
    color: #333333;
}